# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.venv/
env/
venv/

# Flask Migrations
migrations/
*.db
instance/
*.sqlite3

# Secrets and configs
.env

# System files
.DS_Store
*.swp
*~
*.bak
Thumbs.db
ehthumbs.db

# Postman collections (if local)
Parking_Lot_API_Collection*.json
*.Zone.Identifier
